:root {
    --highlight: #e60e15;
    --offwhite: ;

    font-size: 14px;
    font-family:
        "Helvetica Neue",
        Arial,
        sans-serif;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 0 0 1rem 0;
}

a {
    color: var(--highlight);
}

ul {
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #faf8f5;
    color: #333;

}

.container {
    width: min(92%, 900px);
    margin: 3rem auto;
    background-color: #c8c4bf;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

header {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.15);
    border: 1rem solid var(--highlight);

    background: url("../img/header.jpg") center center / cover no-repeat;
}

.logo {
    display: block;
    margin: 3.5rem 0 1.5rem 1.5rem;
}

.tagline {
    padding: .5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgba(250, 248, 245, 0.75);
}

main {
    padding: 2rem 2.5rem;
}

.tag {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--highlight);
    text-shadow: 0 0 1rem rgba(255,255,255, 0.2);
}

section {
    margin: 3rem 0;
}

.social-link img {
    width: 3rem;
    height: 3rem;
    display: block;
    fill: currentColor;
}

footer {
    padding: 1rem;
    text-align: center;
}


@media (max-width: 600px) {
    :root {
        font-size: 15px;
    }

    .container {
        margin: 0;
        width: 100%;
    }

    .tagline {
        font-size: 1rem;
    }
}

